In [2]:
import pandas as pd
import gmaps
import requests

from config import g_key

In [14]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head(1)

,City_ID,City,Country,Date,Lat,Long,Max Temp,Humidity,Clouds,Wind Speed
0,0,Kalmunai,LK,2021-10-02 16:01:47,7.4167,81.8167,80.08,82,43,6.35

In [6]:
gmaps.configure(api_key=g_key)

In [21]:
# tells gmaps which lat/longs to use
locations = city_data_df[['Lat', 'Long']]

# scalar values for heatmapping
max_temps = city_data_df['Max Temp']

# creating the window
fig = gmaps.figure()

# adjust the formatting
fig = gmaps.figure(center=(30,31), zoom_level=1.5)

# setting values for and creating a variable for the gmaps.heatmap_layer 
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=max_temps,
                                    dissipating=False, max_intensity=300, point_radius=4)

# adds the heatmap variable to the window
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# tells gmaps which lat/longs to use
locations = city_data_df[['Lat', 'Long']]

# scalar values for heatmapping
humidity = city_data_df['Humidity']

# creating the window
fig = gmaps.figure()

# adjust the formatting
fig = gmaps.figure(center=(30,31), zoom_level=1.5)

# setting values for and creating a variable for the gmaps.heatmap_layer 
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=humidity,
                                    dissipating=False, max_intensity=300, point_radius=4)

# adds the heatmap variable to the window
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# tells gmaps which lat/longs to use
locations = city_data_df[['Lat', 'Long']]

# scalar values for heatmapping
cloudiness = city_data_df['Clouds']

# creating the window
fig = gmaps.figure()

# adjust the formatting
fig = gmaps.figure(center=(30,31), zoom_level=1.5)

# setting values for and creating a variable for the gmaps.heatmap_layer 
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=cloudiness,
                                    dissipating=False, max_intensity=300, point_radius=4)

# adds the heatmap variable to the window
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# tells gmaps which lat/longs to use
locations = city_data_df[['Lat', 'Long']]

# scalar values for heatmapping
wind = city_data_df['Wind Speed']

# creating the window
fig = gmaps.figure()

# adjust the formatting
fig = gmaps.figure(center=(30,31), zoom_level=1.5)

# setting values for and creating a variable for the gmaps.heatmap_layer 
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=wind,
                                    dissipating=False, max_intensity=300, point_radius=4)

# adds the heatmap variable to the window
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
min_temp = float(input('Minimum temperature: '))
max_temp = float(input('Maximum temperature: '))

Minimum temperature: 70
Maximum temperature: 100

In [81]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

In [82]:
print(min(preferred_cities_df['Max Temp']), max(preferred_cities_df['Max Temp']))

70.2 99.66

# Hotels

In [85]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Long"]].copy()
hotel_df['Hotel Name'] = ''
hotel_df

                     City Country  Max Temp      Lat      Long Hotel Name
0                Kalmunai      LK     80.08   7.4167   81.8167
3                Aripuana      BR     98.22  -9.1667  -60.6333
5    Vila Franca Do Campo      PT     73.81  37.7167  -25.4333
7                    Hede      CN     70.77  33.7681  120.2517
8                   Forio      IT     74.82  40.7342   13.8646
..                    ...     ...       ...      ...       ...        ...
562    Sao Felix Do Xingu      BR     90.07  -6.6447  -51.9950
563             Bathsheba      BB     92.01  13.2167  -59.5167
565               Rantoul      US     71.10  40.3084  -88.1559
567           Villa Union      MX     82.90  23.2000 -106.2333
570               Itaguai      BR     85.68 -22.8522  -43.7753

[290 rows x 6 columns]

In [94]:
params = {
    'radius': 5000,
    'types': 'lodging',
    'key': g_key
}

index_errors = []

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Long"]
    
    # update params
    
    
    # set url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # call api with params and ask for json
    hotels = requests.get(base_url, params=params).json()

    try:
        # find the name of the 0 index hotel + add to hotel_df
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print(f'hotel {index} not found... skipping')
        index_errors.append(index)

hotel 3 not found... skipping
hotel 19 not found... skipping
hotel 62 not found... skipping
hotel 114 not found... skipping
hotel 143 not found... skipping
hotel 145 not found... skipping
hotel 162 not found... skipping
hotel 193 not found... skipping
hotel 271 not found... skipping
hotel 277 not found... skipping
hotel 323 not found... skipping
hotel 327 not found... skipping
hotel 352 not found... skipping
hotel 377 not found... skipping
hotel 430 not found... skipping
hotel 437 not found... skipping
hotel 457 not found... skipping
hotel 461 not found... skipping
hotel 484 not found... skipping
hotel 511 not found... skipping
hotel 520 not found... skipping
hotel 551 not found... skipping

In [98]:
hotel_df

,City,Country,Max Temp,Lat,Long,Hotel Name
0,Kalmunai,LK,80.08,7.4167,81.8167,VS Villa
3,Aripuana,BR,98.22,-9.1667,-60.6333,hello
5,Vila Franca Do Campo,PT,73.81,37.7167,-25.4333,Pestana Bahia Praia
7,Hede,CN,70.77,33.7681,120.2517,Vienna 3 Best Hotel Sheyang Jiefang Rd
8,Forio,IT,74.82,40.7342,13.8646,Hotel Terme Providence
...,...,...,...,...,...,...
562,Sao Felix Do Xingu,BR,90.07,-6.6447,-51.9950,Rio Xingu Camping
563,Bathsheba,BB,92.01,13.2167,-59.5167,Atlantis Hotel
565,Rantoul,US,71.10,40.3084,-88.1559,First Heritage Inn
567,Villa Union,MX,82.90,23.2000,-106.2333,My Fantasy Auto-Hotel
570,Itaguai,BR,85.68,-22.8522,-43.7753,It Grande Hotel Itaguai

In [103]:
infobox_template= '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
'''
hotel_info = [infobox_template.format(**row) for index, row in hotel_df.iterrows()]

In [104]:
# same heatmap code from before
locations = hotel_df[["Lat", "Long"]]
max_temp = hotel_df["Max Temp"]
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(markers)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))